.HomeLinks .title {
    color: #000000;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.HomeLinks .subtitle {
    color: #6a6a6a;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
}
.HomeLinks .col-links {
    border-bottom: 1px solid #ddd;
    padding-bottom: 3px;
    padding-right: 0;
    padding-left: 0;
}
.HomeLinks ul li {
    list-style-type: none;
    padding: 0;
}
.HomeLinks ul li a {
    color: #555;
    width: 100%;
    display: block;
    padding: 8px 15px;
    font-size: 14px;
    transition: all 300ms ease;
    margin-top: 5px;
}
.HomeLinks ul li a .material-icons {
    font-size: 18px;
    position: relative;
    top: 4px;
    margin-left: 2px;
    color: #777;
}
@media (min-width: 992px)
{
    .HomeLinks .col-links {
        width: 18%;
        margin-left: 2%;
        float: right;
    }
}
