.UnderSearchbox{
    background: #f7f7f7;
} 
.UnderSearchbox svg {
    display: inline-block;
    float: right;
    width: 60px;
}
.UnderSearchbox h2 {
    color: #1d2e40;
    font-size: 15px;
    margin-top: 8px;
    font-weight: bold;
    margin-right: 70px;
    text-align: right;
}
.UnderSearchbox p {
    color: #3e4e5f;
    font-size: 13px;
    margin-top: 8px;
    margin-right: 70px;
    text-align: right;
}